<ion-view view-title="Dashboard">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">หมวดหมู่รายได้</div>
      <a href="#/tab/income/{{i.id}}" class="item" ng-repeat="i in incomesGroups">
        {{ i.name }}
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">กราฟรายได้</div>
      <div class="item">
        <canvas id="doughnut" class="chart chart-doughnut"
                chart-data="data" chart-labels="labels">
        </canvas>
      </div>
    </div>

    <div class="list card">
      <a class="item item-icon-left item-icon-right" ng-click="getAjax()">
        <i class="icon ion-chatbubble-working"></i>
        Get Ajax
        <i class="icon ion-ios-telephone-outline"></i>
      </a>

      <div class="item">
        <canvas id="bar" class="chart chart-bar"
                chart-data="fruitData" chart-labels="fruitLabels">
        </canvas>
      </div>
    </div>


  </ion-content>
</ion-view>
